footer {
  background: url(../images/footer-bg.png) #f3f5f7 110% 50% no-repeat;
  background-size: auto 140%;
  padding: 85px 0 25px;

  .widget_nav_menu {
    ul.menu {
      padding: 0;
      column-count: 2;

      li {
        padding: 0 15px;
        list-style: none;
        margin-bottom: 15px;

        a {
          color: $black;
          font-weight: 400;
          text-transform: uppercase;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
  }

  .cf7-footer-form {
    h5 {
      color: $primary;
      font-size: 24px;
      margin-bottom: var(--margin-bottom-20);
    }

    input[type=text],
    input[type=email],
    input[type=tel] {
      border: 1px solid $gray;
      border-radius: 5px;
      margin-bottom: var(--margin-bottom-20);
      font-size: 18px;
      line-height: 1.11;
      width: 400px;
      max-width: 90%;
      min-width: inherit;
    }

    input[type=submit] {
      margin-bottom: var(--margin-bottom-45);
      font-size: 18px;
      line-height: 1.11;
      width: 400px;
      max-width: 90%;
      min-width: inherit;
    }
  }

  hr {
    background: #777;
  }

  .nav-footer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      padding: 0 10px 0 0;
      margin: 0 10px 0 0;
      border-right: 1px solid #54534A;
      line-height: 18px;

      &:last-child {
        margin: 0;
        padding: 0;
        border-right: none;
      }

      a {
        color: #54534A;
        font-size: 18px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .widget_text {
    p {
      color: $black;
      font-size: 18px;
    }

    a {
      color: $black;
      text-decoration: underline;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  .copyright {
    .footer-copyright {
      font-size: 16px;
      text-align: right;

      p {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  footer {
    padding-top: 60px;
    padding-bottom: 70px;

    .footer-logo {
      img {
        height: 124px;
      }
    }

    ul.menu {
      flex-wrap: wrap;

      li {
        padding: 0 8px;
      }
    }
  }
}
