.wp-block-columns {
  &:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(lg) {
  .wp-block-columns {
    .wp-block-column {
      &.mobile-border-bottom {
        &::after {
          margin-left: calc(var(--bs-gutter-x, 0.75rem) * -1);
          margin-right: calc(var(--bs-gutter-x, 0.75rem) * -1);
          content: "";
          display: block;
          height: 2px;
          background: #f3f5f7;
          margin-top: 75px;
          margin-bottom: 75px;
        }
      }
    }
  }
}
