.wp-block-cover {
  &.has-custom-content-position {
    .wp-block-cover__inner-container {
      width: inherit !important;
    }
  }
}

.container-fluid-with-padding {
  .wp-block-cover {
    &.alignfull {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  .wp-block-cover {
    min-height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}